.feed{
    flex: 6;
    background-color:#eef1f5;
    height:36rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.feedwrapper{
    padding: 20px;
   
}
.optionWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    
}
.optionItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 3rem;
    font-weight: 600;
    cursor: pointer;
   
}
#optionItem1{
    border-right: 2px solid rgb(198, 198, 198);
}