.share{
    width: 100%;
    height: 172px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.53);
    background-color: white;
}
.sharewrapper{
    padding: 10px;
}
.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.sharehr{
    margin:20px ;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareInput{
    border: none;
    width: 80%;
}
.shareInput:focus{
    outline: none;
}
.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.shareoptions{
    display: flex;
    margin-left: 20px;
}
.shareoption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.shareicon{
    font-size: 18px !important;
    margin-right: 5px;
}
.shareoptiontext{
    font-size: 14px;
    font-weight: 500;
}
.sharebutton{
    width: 19%;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #286ff3;
    color: white;
    font-weight: 500;
    cursor:pointer;
margin-right: 20px;
}
