.sidebar{
    flex: 2.5;
    height: 36rem;
    overflow-y: hidden;
  overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color:#eef1f5;
}
.sidebarwrapper{
    padding: 20px;
}
.sidebarlist{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarlistitem{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
    color: rgb(38, 0, 138);
}

.sidebarlistitem > span{
    margin-left: 15px;
    font-weight: 500;
    font-size: 20px;
  
}


.ProfileTop{
    display: flex;
align-items: center;
    cursor: pointer;
}
.ProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}