.trending-news-container{
    display: flex;
    flex-direction:column;

   
}
.trending-news-item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    color: rgb(1, 51, 82);
}