.dashboard{
    background-color:#eef1f5;
    height: 100vh;
    width: 100vw;
}
.dashboardWrapper{
    display: flex;
    
}
.dashboardLeft{
    
   flex: 2;
}
.dashboardRight{
    flex: 7;
}
.dashboardLeftContainer{
    width: 20vw;
    height: 89vh;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    
}
.dashboardProfileImgContainer{
    display: flex;
    width: 12vw;
    justify-content: center;
    margin: 1rem;

}
.dashboardProfileImg{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
   
}
.dashboardProfileName{
    font-size: 1.5rem;
    font-weight: 600;
    color: #02397e;
}
.dashboardProfileDetailsContainer{
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.dashboardProfileDetails{
    color: #02397e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activityContainer{
    width: 20vw;
    margin-top: 4rem;
  
}
.dashboardRightTop{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.dashboardRightTopChild{
    width:23vw;
    height: 22vh;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboardRightMiddle{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.dashboardRightMiddleChild1{
    width: 26vw;
    height: 30vh;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboardRightMiddleChild2{
    width: 42vw;
    height: 30vh;
    background-image: linear-gradient(to bottom,#f74e00,rgb(236, 179, 73));
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  
}
.dashboardRightBottom{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.dashboardRightBottomChild2{
    width: 44vw;
    height: 33vh;
    background-image:linear-gradient(to bottom,#02397e,rgb(54, 173, 253));
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
 
  
}
.dashboardRightBottomChild1{
    width: 24vw;
    height: 31vh;
    display: flex;
    flex-direction: column;
 
}
.dashboardLikes{
    display: flex;
    flex-direction: column;
    height: 10vh;
    padding-left: 2rem;
    border-radius: .5rem;
    background-color: white;
    background-image:linear-gradient(to bottom,#027e51,rgb(54, 253, 180));
}
.dashboardComments{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    height: 10vh;
    border-radius: .5rem;
    background-color: white;
    margin-top: .5rem;
    background-image:linear-gradient(to bottom,#f77606,rgb(236, 179, 73));

}
.dashboardShared{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    height: 10vh;
    border-radius: .5rem;
    background-color: white;
    margin-top: .5rem;
    background-image:linear-gradient(to bottom,#02397e,rgb(63, 174, 248));
}
.topFollowers{
    display: flex;
    justify-content: space-evenly;
    margin-top: .5rem;
    width: 24vw;
}
.topFollowersImg{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    
}