.comment{
    display: flex;
    margin-bottom: 1rem;
}
.comment-image-container{
    display: flex;
    flex:1;
    justify-content: center;
}
.comment-rightpart{
    flex: 8;
}
.comment-profile{
    display: flex;
margin-top: .2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.comment-content{
    display: flex;
}
.comment-author{
    display: flex;
   font-weight: 700;
   font-size:.8rem;

}
.comment-text{
    font-size: .8rem;
    font-weight: 600;
}
.comment-time{
    font-size: .7rem;
    color: rgb(146, 146, 146);
    margin-left:.5rem;
    display: flex;
    align-items: center;
}
.comment-reply{
    margin-top: 1rem;
}
.comment-actions{
    display: flex;
    margin-top: .2rem;
}
.comment-action{
    font-size: .66rem;
    cursor: pointer;
    color: rgb(70, 70, 70);
    margin-bottom: 1rem;
}