.comment-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.comment-form-textarea {
  border: none;
  resize: none;
  width: 50%;
  outline: none;
}
.comment-form-button {
  width: 5rem;
  border: none;
  color: rgb(0, 0, 0);
  background-color: white;
  border-left: 2px solid rgb(208, 206, 206);
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
}
.comment-form-textarea::placeholder {
  font-size: 0.8rem;
}
